## Exercise (Normal Distribution and Z Score for Outlier Removal)

taken from [codebasics YouTube channel](https://www.youtube.com/watch?v=okhrFgaUwio&list=PLeo1K3hjS3uuKaU2nBDwr6zrSOTzNCs0l&index=4&ab_channel=codebasic)<br>

You are given bhp.csv which contains property prices in the city of banglore, India. You need to examine price_per_sqft column and do following,

1. Remove outliers using percentile technique first. Use [0.001, 0.999] for lower and upper bound percentiles
1. After removing outliers in step 1, you get a new dataframe.
1. On step(2) dataframe, use 4 standard deviation to remove outliers
1. Plot histogram for new dataframe that is generated after step (3). Also plot bell curve on same histogram
1. On step(2) dataframe, use zscore of 4 to remove outliers. This is quite similar to step (3) and you will get exact same result

[Solution](https://github.com/codebasics/math-for-machine-learning/blob/main/3_normal_distribution/Exercise/exercise_solution.ipynb)

In [2]:
import pandas as pd
prices = pd.read_csv('bhp.csv')
prices.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [5]:
prices['price_per_sqft'].describe()

count    1.320000e+04
mean     7.920337e+03
std      1.067272e+05
min      2.670000e+02
25%      4.267000e+03
50%      5.438000e+03
75%      7.317000e+03
max      1.200000e+07
Name: price_per_sqft, dtype: float64

Check if missing values:

In [6]:
prices['price_per_sqft'].isna().any()

False

In [9]:
import numpy as np
lb, ub = np.quantile(prices['price_per_sqft'],[0.001, 0.999])
print(f"Lower bound: {lb} \nUpper bound: {ub}")

Lower bound: 1366.184
Upper bound: 50959.3619999996

In [14]:
pricesClean = prices[(prices['price_per_sqft']>=lb) & (prices['price_per_sqft']<=ub)]
pricesClean.shape

(13172, 7)

Outliers:

In [16]:
prices.shape[0] - pricesClean.shape[0]

28